.active {

  background-color: chocolate !important;
  border: solid 4px black;
}

.block {

  background-color: grey;
  padding:10px;
  width: 100px;
  height: 100px;
  text-align: center;

  .block:not(:last-of-type) {

    margin-left: 10px;
  }
}

.layout {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
