html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: purple !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}



/*
=========================
Layouts
=========================
*/

.layout-default {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-columns: 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;

  & > .page-header-area { grid-area: 1 / 1 / 2 / 6; }

  .page-nav-area {
    align-self: end;
    grid-area: 1 / 1 / 2 / 6;
    height: 30%;
  }

  & > .page-main-area { grid-area: 2 / 1 / 5 / 4; }

  & > .page-ads-area { grid-area: 2 / 4 / 5 / 6; }

  & > .page-extended-area { grid-area: 5 / 1 / 6 / 6; }

  & > .page-footer-area { grid-area: 6 / 1 / 7 / 6; }
}

.layout-profile-center {

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1em 1em;
  grid-auto-flow: row;

  & > .page-footer-area { grid-area: 7 / 1 / 8 / 12; }

  & > .page-extended-area { grid-area: 6 / 1 / 7 / 12; }

  & > .page-header-area { grid-area: 1 / 1 / 2 / 12; }

  & > .page-nav-area { grid-area: 2 / 1 / 3 / 12; }

  & > .page-main-area { grid-area: 3 / 3 / 6 / 10; }

  & > .page-ads-area { grid-area: 3 / 10 / 6 / 12; }

  & > .page-sidebar-area { grid-area: 3 / 1 / 6 / 3; }
}

