

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red !important;
}

.backToHome {
  margin: 3rem 0 0;
}


/*
=========================
Layout
=========================
*/
.layoutDefault {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  grid-template-areas:
	'head-area head-area head-area head-area head-area'
	'main-area main-area main-area ads-area ads-area'
	'main-area main-area main-area ads-area ads-area'
	'bottom-area bottom-area bottom-area bottom-area bottom-area';

  gap: 0;
  height: 100vh;

}


.layoutProfileCenter {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  grid-template-areas:
	'head-area head-area head-area head-area head-area head-area head-area head-area head-area head-area head-area head-area'
	'head-area head-area head-area head-area head-area head-area head-area head-area head-area head-area head-area head-area'
	'ads-left-area ads-left-area ads-left-area main-area main-area main-area main-area main-area main-area ads-right-area ads-right-area ads-right-area'
	'ads-left-area ads-left-area ads-left-area main-area main-area main-area main-area main-area main-area ads-right-area ads-right-area ads-right-area'
	'ads-left-area ads-left-area ads-left-area main-area main-area main-area main-area main-area main-area ads-right-area ads-right-area ads-right-area'
	'ads-left-area ads-left-area ads-left-area main-area main-area main-area main-area main-area main-area ads-right-area ads-right-area ads-right-area'
	'ads-left-area ads-left-area ads-left-area main-area main-area main-area main-area main-area main-area ads-right-area ads-right-area ads-right-area'
	'ads-left-area ads-left-area ads-left-area main-area main-area main-area main-area main-area main-area ads-right-area ads-right-area ads-right-area'
	'ads-left-area ads-left-area ads-left-area main-area main-area main-area main-area main-area main-area ads-right-area ads-right-area ads-right-area'
	'ads-left-area ads-left-area ads-left-area main-area main-area main-area main-area main-area main-area ads-right-area ads-right-area ads-right-area'
	'bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area'
	'bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area bottom-area';

  gap: 0px;
  height: 100%;

}


#head-area {

  grid-area: head-area;
}
#main-area {

  grid-area: main-area;
}
#ads-area {

  grid-area: ads-area;
}

#ads-left-area {

  grid-area: ads-left-area;
  background-color: red;
}

#ads-right-area {

  grid-area: ads-right-area;
  background-color: blue;
}

#bottom-area {

  grid-area: bottom-area;
}


